<h2>{{ text_instruction }}</h2>
<div class="well well-sm">
	<p>Внимание! Доставка оплачивается при доставке продуктов и не включена в общую стоимость!</p>
	<p>Доставка бесплатная при заказе от 4000 рублей. При заказе до 4000 рублей доставка стоит 100 рублей.</p>
	<br>
  <p>После подтверждения заказа, мы свяжемся с Вами для того, чтобы подтвердить заказ.</p>
  <p>Курьер свяжется с вами за час до доставки.</p>
</div>
<div class="buttons">
  <div class="pull-right">
    <input type="button" value="{{ button_confirm }}" id="button-confirm" data-loading-text="{{ text_loading }}" class="btn btn-success" />
  </div>
</div>
<script type="text/javascript"><!--
$('#button-confirm').on('click', function() {
	$.ajax({
		url: 'index.php?route=extension/payment/cheque/confirm',
		dataType: 'json',
		beforeSend: function() {
			$('#button-confirm').button('loading');
		},
		complete: function() {
			$('#button-confirm').button('reset');
		},
		success: function(json) {
			if (json['redirect']) {
				location = json['redirect'];	
			}
		},
		error: function(xhr, ajaxOptions, thrownError) {
			console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});

});
//--></script>
