/***** Popup block ***/
.mfp-content > .popup_block {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.mfp-content > .popup_block > ul {
	width: 500px;
	position: inherit;
	float: none !important;
	display: block !important;
	opacity: 1;
	transform: scale(1);
	visibility: visible;
	min-width: 335px;
	max-width: 800px;
	min-height: 100px;
}
.header_cart {
	padding-left: 30px;
}
.mfp-close-btn-in .mfp-close {
	color: #fff !important;
	opacity: 1 !important;
}

.mfp-fade.mfp-bg {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}
/************************************/

body {
	font-family: 'Roboto', 'serif';
	font-weight: normal;
	background-color: rgb(249, 249, 249);
}
.flex_align_middle {
	display: flex;
	align-items: center;
}
.margin-top-30 {
	margin-top: 30px;
}
.margin-top-50 {
	margin-top: 50px;
}
.margin-bottom-50 {
	margin-bottom: 50px;
}
.nav_top {
	width: 100%;
	padding: 10px 0;
	background-color: #fff;
	border-bottom: 1px solid rgba(102, 102, 102, 0.2);
}

.slogan {
	color: rgb(102, 102, 102);
}

.pull-right span:first-child {
	margin-right: 25px;
}

.nav_right_href {
	color: rgb(102, 102, 102);
	text-decoration: none;
	transition: all .5s ease-in-out;
}
.nav_right_href:hover {
	color: #b2d235;
}
.nav_right_href > i {
	font-size: 18px;
	margin-right: 5px;
}
/****************** Breadcrumb *************/
.breadcrumb {
	background: none;
}
.breadcrumb > li > a {
	color: rgb(102, 102, 102);
}
/****************** Header where logo search and cart ********************/
.header {
	background: #fff;
	padding: 20px 0;
}

.logo-h1 {
	font-size: 25px;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 700;
	text-transform: capitalize;
	margin-top: 0;
	margin-bottom: 0;
}
.logo-h1 a {
	color: #005826;
}
.logo-h1 a:hover {
	color: #b2d235;
	text-decoration: none;
}

.form-control {
	height: 36px;
	border-radius: 0;
	font-size: 14px;
}
.btn {
	padding: 5px 10px;
}

.header_links {
	justify-content: space-around;
}
.header_link {
	color: #005826;
	font-size: 16px;
	font-weight: 700;
}
.header_link:hover {
	color: #b2d235;
	text-decoration: none;
}

.btn_cart > span {
	font-size: 14px !important;
	color: #fff !important;
}
i.fa-shopping-cart {
	color: #fff;
}
.btn_cart {
	padding: 5px 10px;
	background-color: #6ca54c;
}
.btn_cart:hover {
	background-color: #b2d235;
}

/****************** Cart dropdown ********************/
.cart_dropdown_summ {
	padding: 0 20px;
}
.checkout_btn {
	color: #fff;
	background-color: #6ca54c;
}
.checkout_btn:hover {
	color: #fff;
	background-color: #b2d235;
}

/*************** Header menu ******************/
.navbar-toggle {
	outline: none;
	padding: 0;
}
.navbar-toggle i {
	font-size: 22px;
}
.dropdown-toggle i,
.dropdown-toggle span{
	color: #005826;
}



.categ_child_menu {
	padding: 10px 0;
	padding-left: 10px;
	display: block;
	color: #313131;
}
.categ_child_menu:hover {
	color: #fff;
	background-color: rgb(177, 226, 173);
	text-decoration: none;
}
.see-all {
	font-size: 13px;
	padding-left: 10px;
	color: #313131;
}

.latest_heading_3 {
	margin-bottom: 50px;
}
/********** Thumbnailphoto in product popup page ***********/
.thumbnail-popup-product {
	width: 450px;
	min-height: 300px;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center !important;
}
/******************************************/
.product-thumb {
	border: 1px solid rgb(236, 236, 236);
	border-radius: 10px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
	background-color: #fff;
	min-height: 330px;
}
.product_image_thumb {
	background-repeat: no-repeat;
	display: block;
	width: 100%;
	height: 154px;
	background-size: cover;
	background-position: center;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.delivery_days {
	margin-top: 10px;
	font-family: 'Roboto', 'sans-serif';
}
.product-layout {
	margin-bottom: 50px;
}
.caption {
	padding-left: 10px;
	padding-right: 10px;
	min-height: 104px;
}
.caption > h4 > a {
	font-family: 'Roboto', 'sans-serif';
	font-size: 16px;
	text-transform: uppercase;
	color: #313131;
}
.price {
	font-family: 'Roboto', 'sans-serif';
	font-size: 18px;
	color: #595959;
}
.product_upc {
	color: rgb(150, 150, 150);
	font-family: 'Roboto', 'sans-serif';
	font-size: 14px;
}
.button-group {
	padding-bottom: 10px;
	text-align: right;
	display: flex;
	justify-content: space-between;
	position: relative;
	bottom: -10px;
}
.button-group .good_counter {
	display: flex;
	align-items: center;
	margin-left: 10px;
}
.button-group .good_counter > .cart_quantity {
	width: 40px;
	height: 30px;
	text-align: center;
	font-size: 22px;
	border: none;
	padding-left: 10px;
}
.eco_btn {
	background-color: chocolate;
	border: none;
	width: 30px;
	height: 30px;
}
.eco_btn > i {
	color: #fff;
}
.add_to_cart_btn {
	background-color: #6ca54c;
	border: none;
	width: 100px;
	height: 40px;
	color: #fff;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	outline: none;
}
.add_to_cart_btn:hover {
	background-color: #b2d235;
}
.btn-primary:active, .btn-primary:focus, .btn-primary:visited {
	background-color: #b74e03 !important
}

footer {
	margin-top: 70px;
	background-color: #dcdcdc;
	padding-top: 20px;
}
footer .logo > h5 {
	font-size: 22px;
	color: rgb(102, 102, 102);
	text-transform: capitalize;
}
.address_phone {
	font-size: 16px;
	color: rgb(102, 102, 102);
	font-family: 'Roboto', 'sans-serif';
}
.socials > a {
	color: rgb(102, 102, 102);
}
.socials > a:first-child {
	margin-right: 10px;
}
.socials > a:hover {
	color: #b2d235;
}
.socials > a > i {
	font-size: 22px;
}
.float-right {
	float: right;
}
.footer_titles {
	font-size: 16px;
	margin-bottom: 20px;
	font-weight: 700;
	color: rgb(102, 102, 102);
}
.footer_link {
	margin-bottom: 20px;
}
.footer_link:last-child {
	margin-bottom: 0;
}
.footer_link > a {
	font-size: 16px;
	color: rgb(102, 102, 102);
}
.footer_link > a:hover {
	color: #b2d235;
	text-decoration: none;
}
.footer_last {
	text-align: center;
	font-family: 'Roboto', 'sans-serif';
	text-transform: capitalize;
	color:rgb(102, 102, 102);
}


/******* Some popup styles *************/
.eco-alert {
	position: fixed !important;
	z-index: 1;
	bottom: 20%;
	right: 3%;
}

/************ Child category styles **************/
.child_categ_list {
	list-style-type: none;
	display: flex;
	justify-content: space-evenly;
}
.child_categ_item {
	background-color: #83d0b3;
	border-radius: 6px;
	padding: 5px 10px;
}
.child_categ_item > a {
	color: #fff;
}
/********** Product popup page ********************/
.thumbnails {
	padding: 0;
	list-style-type: none;
}
#tab-description > .row > .col-sm-12 {
	width: 100%;
}
.table-bordered {
	font-size: 14px;
}
.nav .nav-tabs > li > a {
	color: #555;
}
.nav .nav-tabs > li.active > a{
	background-color: #b2d235;
}
.nav .nav-tabs > li.active > a:hover {
	color: #555;
	cursor: default;
	background-color: #fff;
	border: 1px solid #ddd;
}
.product_popup {
	cursor: pointer;
}
/************** Checkout and confirm goods ***********************/
.panel-default>.panel-heading {
	color: #fff;
	background-color: #8ebf72;
	border-color: none;
}
/************** Shopping cart link(basket icon) ******************/
.shopping_cart_link {
	cursor: pointer;
	display: flex;
}
.shopping_cart_link > i {
	font-size: 30px;
	color: #333;
}
.shopping_cart_link > span.card_total {
	display: block;
	width: 25px;
	height: 20px;
	color: #fff;
	text-align: center;
	background-color: #ffad41;
	border-radius: 50%;
	margin-left: -11px;
}
/************** Responsive header *******************/
.responsive-header {
	display: flex;
	margin-right: 0;
	width: 100%;
	align-items: center;
	justify-content: flex-end;
}
.width-auto {
	width: auto;
}
/************* Account page ************************/
#account-account #content h2 {
	font-size: 22px;
}
.personal_cab li {
	padding: 5px 15px;
	background-color: #dcf5f0;
	border-radius: 5px;
	border: 1px solid #6ca54c;
	margin-bottom: 3px;
}
.personal_cab li:last-child {
	margin-bottom: 0;
}
.personal_cab li > a {
	color: #000;
}
/************** Main page slider *******************/
.banner-link {
	display: block;
	width: 100%;
	height: 100%;
	min-height: 180px;
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
}
.banner-title {
	background-color: orange;
	width: 50%;
	padding-top: 15px;
	padding-bottom: 15px;

	position: absolute;
	bottom: 20px;
	left: 10px;

	display: flex;
	justify-content: center;
	align-items: center;
}
.banner-title p {
	text-decoration: none;
	color: #fff;
	margin: 0;
	font-size: 2rem;
	text-transform: uppercase;
}
/************** Wishlist button *********************/
.btn-wishlist {
	position: absolute;
	top: 15px;
	right: 35px;
	padding: 0;

	background: none;
	border: none;
	outline: none;
}
.btn-wishlist i {
	font-size: 25px;
	color: deeppink;
	
	transition: all 0.5s ease-in-out;
}
.btn-wishlist:hover, .btn-wishlist:focus {
	background: none;
	border: none;
}
/**************** User link in header ********************/
.user-link > i {
	font-size: 25px;
	color: #000;
}
/**************** Product Popup style *******************/
.mfp-iframe-scaler iframe > html {
	background-color: #f3f0eb;
}
.popup_product_bgc {
	background-color: #f3f0eb;
}
.tab-pane > div {
	background-color: none;
}
/************** Product card *****************/
.product_image_thumb_category {
	-webkit-background-size: auto;
	background-size: auto;
}


/*******************************
* Responsibilities and adaptive
********************************/
@media screen and (max-width: 562px) {
	/*********** Cart popup ******************/
	.cart-popup {
		top: 64% !important;
		left: 50% !important;
		position: fixed !important;
		transform: translate(-50%, -50%) !important;
	}
	.float-right {
		float: none;
		margin-top: 20px;
	}
	
	.header-menu {
		top: 69px;
	}
	.btn_cart {
		padding: 10px 0;
		height: auto;
	}
	.categ_child_menu, .see-all {
		color: #fff;
	}
	/* .product-layout .product-thumb {
		height: 340px;
	} */
	.product-thumb {
		position: relative;
		border-top-right-radius: 10px;
	    border-top-left-radius: 10px;
	    border-radius: 0;
	}
	/************* Tab pane **********/
	.tab-pane > p {
		width: 100%;
    padding-left: 10px;
    padding-right: 10px;
	}

	/************* Product ***********/
	p.delivery_days {
		font-size: 12px;
	}
	h4.product_name {
		margin-top: 0;
		margin-bottom: 0;
	}
	h4.product_name > p.product_popup {
		font-size: 14px;
	}
	button.mfp-close {
		color: #333 !important;
	}
	
	.eco_btn,
	.button-group .good_counter > .cart_quantity,
	.add_to_cart_btn {
		height: 28px;
	}
	
	.thumbnail-popup-product {
		width: 100%;
		min-height: 275px;
	}
	/* .button-group {
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
		-ms-flex-direction: row;
		-o-flex-direction: row;
		flex-direction: row;

		position: absolute;
		bottom: 0px;
		padding: 0;
		width: 100%;
	}
	.good_counter > button.eco_btn {
		width: 33.333%;
		border-radius: 0;
		background-color: chocolate;
	}
	*/
	.add_to_cart_btn {
		width: 60px;
	}
	.button-group .good_counter {
		margin-left: 0;
	}
	.button-group .good_counter > .cart_quantity {
		width: 20px;
		padding-left: 0;
	}
	.shopping_cart_link {
		justify-content: flex-end;
	}
	.logo-left-sm {
		width: 100% !important;
	}
	/************* Menu btn width ******/
	.menu-btn-xs-width {
		width: 36%;
	}
	/************* Slider **************/
	.banner-title {
		width: 70%;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	/************* Product width ************/
	.devices-width {
		padding-left: 5px;
		padding-right: 5px;
	}
	/************* Submenu styles *****************/
	.child_categ_list {
		padding: 0;
		flex-flow: wrap;
		justify-content: center;
	}
	.child_categ_item {
    margin-bottom: 15px;
    margin-right: 10px;
	}
	.child_categ_item:last-child {
		margin-right: 0;
	}
	/************* Product description *************/
	.product-preview-description {
		padding: 5px 10px;
		max-width: 362px;
	}
}

@media screen and (max-width: 992px) {
	.flex-end {
		justify-content: flex-end;
	}
	.logo-left-sm {
		width: 50%;
	}
	
}

@media screen and (max-width: 768px) {
	.mfp-content {
		height: 100%;
	}
	.header,.header-menu {
		position: sticky;
		z-index: 101;
		top: 69px;
	}
	.header {
		top: 0;
		width: 100%;
	}
	.header-menu {
		position: fixed;
    z-index: 101;
    top: 0;
		right: -500px;

		height: 100vh;
		max-width: 200px;

		box-shadow: 4px 0px 16px rgba(0,0,0,0.3);
		background-color: #ececec !important;
		transition: all .3s ease-in-out;
	}
	.header-menu > .container {
		padding: 0;
	}
	.navbar {
		font-size: 18px;
	}
	.menu-list {
		list-style: none;
		display: inherit !important;
		
		min-height: 100vh;
    margin: 0;
		padding-left: 0;
		overflow-y: scroll;
	}
	.menu-list li {
		position: relative;
		border-bottom: 1px solid #b5b4b4;

		width: 100%;
		padding-top: 15px;
    padding-bottom: 15px;
		padding-left: 15px;
		margin-right: 0 !important;
	}
	.menu-list li a {
		color: rgb(100, 67, 67) !important;
	}
	.menu-button {
		background: none;
    border: none;
    outline: none;
	}
	.menu-button i {
		font-size: 27px;
		line-height: 100%;
		color: rgb(100, 67, 67);;
	}
	.menu-button-close {
		position: absolute;
		margin-top: 13px;
		margin-left: -45px;
	}
	.toggle_menu {
		right: 0;
	}
}

@media screen and (max-width: 1400px) {
  .header-menu {
		width: 100%;
		background-color: #6ca54c;
	}
	.navbar {
		margin: 0;
		font-size: 16px;
	}
	.menu-list {
		list-style: none;
		margin: 0;
		display: flex;
    align-items: center;
		height: 48px;
	}
	.menu-list li {
		display: inline-block;
		margin-right: 25px;
	}
	.menu-list li a {
		color: #fff;
	}
}